//npm run watch (code bên này qua file css)
//"watch": "node-sass --watch src/resources/scss/app.scss src/public/css/app.css",
//"watch": "node-sass --watch src/resources/scss/ --output src/public/css/",
//npm install node-sass --save-dev

@import 'variables'; 

h1 {
    color: $black-color;
}

.card-course-item{
    margin-top: 20px;
}

.user-avatar{
    width: 28px;
    height:  28px;
    border-radius: 50%;
    margin-right: 4px;
}