<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">HoaiBao Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://scontent-cph2-1.xx.fbcdn.net/v/t39.30808-6/245367673_3060103437600098_2749828224698506165_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=P5VhCuauQvwAX9RJWJG&_nc_ht=scontent-cph2-1.xx&oh=00_AT_EgnKHKtgTE5j1E8Dc2_hvVVd8hW1RN6vM2rj2o7u4lw&oe=63356A5E" alt="" class="user-avatar">
            Hoai Bao
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses/create">Create course</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">My courses</a>
            <a class="dropdown-item" href="/me/stored/news">My news</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>